$class-prefix-search-bar: 'cenyu-search-bar';

.#{$class-prefix-search-bar} {
  --height: 32px;
  --padding-left: var(--cenyu-padding-s);
  --background: var(--cenyu-color-background);
  --search-background: var(--cenyu-color-box);
  --border-radius: var(--cenyu-radius-xs);

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 16px;
  background-color: var(--background);

  &-content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    padding: 5px 12px 5px;
    background-color: var(--search-background);
    border-radius: var(--border-radius);

    &-icon {
      flex: none;
      color: var(--cenyu-color-weak);
      font-size: var(--cenyu-font-size-l);
      margin-right: 8px;
    }

    &-input {
      flex: 1;
    }

    &-cancel {
      padding-left: var(--cenyu-padding-s);
      color: var(--cenyu-color-text);
      font-size: var(--cenyu-font-size-m);
      line-height: 34px;
      cursor: pointer;
      user-select: none;
    }
  }
}